<div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent mt-2">
  <div class="bg-color-white">
  <div class="row">
    <div class="span-color editContent">
      <span class="fa fa-home" aria-hidden="true"></span>
    </div>
    <h4><a href="#" class="editContent px-2 pt-2">Jalila</a></h4>
    </div>
    <p class="para editContent">Ville: Jerba</p>
    <p class="para editContent">Prix/nuit: 20dt</p>
    <p class="para editContent">Supplément nouriture/jr: 5dt</p>
    <p class="para editContent">Nouriture: croquettes/salami</p>
    <p class="para editContent">A propos: ..........</p>
    <div class="social-teams">
    <button class="btn btn-primary"><span class="fa fa-home mr-2"></span>Invitini</button>
    </div>
  </div>
</div>
