<div class="team-main-19">
  <div class="column-19">
    <a href="#page"><img class="img-responsive" src="{{ asset("assets/images/5.jpg") }}"alt=" " /></a>
  </div>
  <div class="right-team-9">
    <h6><a href="F" class="title-team-28">{{name}}</a></h6>
    <p class="sm-text-28">Femelle</p>
    <p class="para">Râce: Persan</p>
    <p class="para">Couleur: ...</p>
    <p class="para">Vaccin: ...</p>
    <p class="para">DN: 12/08/2022</p>
    <p class="para">Ville: ...</p>
    <p class="para">Description...</p>
    <div class="social-teams">
    <button class="btn btn-primary"><span class="fa fa-paw mr-2"></span>Adoptini</button>
    </div>
  </div>
</div>
