{% extends 'base.html.twig' %}

{% block title %}
  Adoptini
{% endblock %}

{% block body %}
  <section class="w3l-inner-banner-main">
    <div class="about-inner editContent">
      <div class="container">
        <ul class="breadcrumbs-custom-path">
          <li class="right-side propClone">
            <a href="{{path('home')}}" class="editContent">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></p>
          </li>
          <li class="active editContent">Adoptini</li>
        </ul>
      </div>
    </div>

  </section>
  <section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec editContent">
      <div class="container">
        <div class="map-content-9">
          <h4 class="header-name editContent">
            Recherche:
          </h4>
          <form action="#" method="post">
            <div class="twice-two">
              <input type="text" class="form-control" name="city" id="city" placeholder="Ville" required="">
              <button type="submit" class="btn btn-primary">Recherche</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="w3l-team-main-6" id="team">
    <!-- /team-grids -->
    <div class="team-content-page editContent">
      <div class="container">
        <div class="main-contteam-28">
          {% for i in 0..20 %}
            {% include '_include/pet_card.html.twig' with { name: 'Luna' } %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- /team-grids -->
  </section>
{% endblock %}
