{% extends 'base.html.twig' %}

{% block title %}
    Add
{% endblock %}

{% block body %}

    <section class="w3l-contact-info-main" id="contact">
        <div class="contact-sec	editContent">
            <div class="container">
                <div class="main-titles-head text-center">
                    <h3 class="header-name editContent">
                        Add
                    </h3>
                    <hr>

                </div>
                <div class="map-content-9 mt-5">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                    <input type="submit" value="Add">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>


{% endblock %}